<div class="blog-footer">
	<p>Blog template built for <a href="http://getbootstrap.com">Bootstrap</a> by <a href="https://twitter.com/mdo">@mdo</a>. <em>Rails-i-fied</em> by <a href="https://twitter.com/travellingbard">@travellingbard</a>.</p>
</div>
