<% if user_signed_in? %>
	<p>Welcome <%= current_user.first_name %>. It's great to see you here. What have you been doing recently?</p>
<% else %>
	<p>Hello and welcome to this great website. Why not login or register using the buttons at the top right. Or just cruise round some contentor register.</p>
<% end %>
